<html>
<head>
  <title>React.js server-side rendering sample</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <style>
  </style>
</head>
<body>
  <div id="hello">{{{foo}}}</div>
</body>
</html>
